* {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.btn-text {
    text-align: left;
}

.favorable {
    background-color: green;
    width: 13%;  
}

.moderate {
    background-color: yellow;
    width: 13%;
}

.severe {
    background-color: red;
    width: 14%;
}

.purple {
    width: 19% 
}

#weather-card {
    width: 100%;
}